<template>
  <div>
    <v-card-text>
      <v-sheet color="rgba(0, 30, 40, .12)">
        <v-sparkline
          :value="value"
          height="100"
          :gradient="gradient"
          padding="24"
          stroke-linecap="round"
          smooth
        >
          <template v-slot:label="item">
            ${{ item.value }}
          </template>
        </v-sparkline>
      </v-sheet>
    </v-card-text>

    <v-card-text>
      <div v-can="'ticket'" class="text-h4 font-weight-thin">
        Sales Last 24h
      </div>
    </v-card-text>

    <v-divider></v-divider>

    <v-card-actions class="justify-center">
      <v-btn
        block
        text
      >
        Go to Report
      </v-btn>
    </v-card-actions>
  </div>
</template>

<script>
const gradients=  [
      ['#222'],
      ['#42b3f4'],
      ['red', 'orange', 'yellow'],
      ['purple', 'violet'],
      ['#00c6ff', '#F0F', '#FF0'],
      ['#f72047', '#ffd200', '#1feaea'],
    ];
import {menu} from "@/core/menu/aside";

export default {
    name: "Panel",
  data: () => ({

    gradient: gradients[5],
    value: [
      423,
      446,
      675,
      510,
      590,
      610,
      760,
    ],
  }),
  mounted() {
      this.$store.dispatch('setBreadcrumb', [
        {
          title: 'داشبورد',
          route: 'basePanel'
        }
      ])
  },
  computed: {
      menu(){
        return menu;
      }
  }
};
</script>

<style scoped>

</style>
