<template>
  <div>
    <div class="mx-15 py-8 bg-teal- shadow-md rounded-bl-xl rounded-br-xl">
        ddf
    
    </div>
  </div>

</template>


<script>
// Components
import { VHover, VListItem } from "vuetify/lib";

// Utilities
import { mapMutations, mapState } from "vuex";

export default {
    name: "DashboardCoreAppBar",

    components: {
        AppBarItem: {
            render(h) {
                return h(VHover, {
                    scopedSlots: {
                        default: ({ hover }) => {
                            return h(VListItem, {
                                attrs: this.$attrs,
                                class: {
                                    "black--text": !hover,
                                    "white--text secondary elevation-12": hover
                                },
                                props: {
                                    activeClass: "",
                                    dark: hover,
                                    link: true,
                                    ...this.$attrs
                                }
                            }, this.$slots.default);
                        }
                    }
                });
            }
        }
    },

    props: {
        value: {
            type: Boolean,
            default: false
        }
    },

    data: () => ({
        notifications: [
            "Mike John Responded to your email",
            "You have 5 new tasks",
            "You're now friends with Andrew",
            "Another Notification",
            "Another one"
        ],
        loading: true,
        isSidebarOpen: this.getSidebarStateFromLocalStorage(),
        toggleSidbarMenu() {
            this.isSidebarOpen = !this.isSidebarOpen;
            this.setSidebarStateToLocalStorage(this.isSidebarOpen);
        },
        isSettingsPanelOpen: false,
        isSearchBoxOpen: false
    }),

    computed: {
        ...mapState(["drawer"])
    },

    methods: {
        ...mapMutations({
            setDrawer: "SET_DRAWER"
        }),
        getSidebarStateFromLocalStorage() {
            // if it already there, use it
            if (window.localStorage.getItem("isSidebarOpen")) {
                return JSON.parse(window.localStorage.getItem("isSidebarOpen"));
            }

            // else return the initial state you want
            return false;
        },

        setSidebarStateToLocalStorage(value) {
            window.localStorage.setItem("isSidebarOpen", value);
        },

        // setSidebarStateToLocalStorage(value) {
        //     window.localStorage.setItem("isSidebarOpen", value);
        // }
    }
};
</script>
