<template>
  <v-app v-if="isAuthenticate">
    <v-card flat>
      <v-toolbar
        color="primary"
        dark
        extended
        height="100"
        flat
      >
        <v-app-bar-nav-icon @click="drawer =! drawer"></v-app-bar-nav-icon>
      </v-toolbar>
      <v-navigation-drawer
        v-model="drawer"
        absolute
        right
        temporary
      >
        <v-list-item>
          <v-list-item-avatar>
            <v-img src="https://randomuser.me/api/portraits/men/78.jpg"></v-img>
          </v-list-item-avatar>

          <v-list-item-content>
            <v-list-item-title>John Leider</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-divider></v-divider>

        <v-list dense>
          <v-list-item
            v-for="item in menu"
            :key="item.title"
            class="text-right"
            :disabled="item.route == null"
            :to="{name: item.route}"
            v-if="item.permission === null || $can(item.permission)"
            link
            right
          >
            <v-list-item-icon>
              <v-icon color="info">{{ item.icon }}</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>{{ item.title }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-navigation-drawer>
      <v-card
        class="mx-16 mb-auto"
        style="height: 100%!important; margin-top: -64px;"
      >

        <v-toolbar flat>
          <v-toolbar-title class="grey--text">
            <template v-for="(breadcrumb, index) in getBreadcrumb">
              <span
                class="label label-dot label-sm bg-white opacity-75 mx-3"
                :key="index+1"
              ></span>
              <router-link
                :key="index"
                v-if="breadcrumb.route"
                :to="{name: breadcrumb.route}"
                class="sm1 text-info text-hover-info opacity-75 hover-opacity-100"
              >
                {{ breadcrumb.title }}
              </router-link>
              <span
                class="text-danger"
                :key="index"
                v-if="!breadcrumb.route"
              >
                {{ breadcrumb.title }}
              </span>
            </template>

            <!--            <v-breadcrumbs :items="getBreadcrumb">-->
            <!--              <template v-slot:title="{item}">-->
            <!--                {{item}}-->
            <!--                <v-icon>mdi-chevron-right</v-icon>-->
            <!--              </template>-->
            <!--            </v-breadcrumbs>-->
          </v-toolbar-title>

          <v-spacer></v-spacer>

          <v-btn icon>
            <v-icon>mdi-magnify</v-icon>
          </v-btn>

          <v-btn icon>
            <v-icon>mdi-apps</v-icon>
          </v-btn>

          <v-btn icon>
            <v-icon>mdi-dots-vertical</v-icon>
          </v-btn>
        </v-toolbar>

        <v-divider></v-divider>

        <v-card-text>
          <div>
            <router-view />
          </div>
        </v-card-text>
      </v-card>

    </v-card>
  </v-app>
</template>

<script>
import { mapGetters } from "vuex";

import "bootstrap/dist/css/bootstrap.css";
import "bootstrap-vue/dist/bootstrap-vue.css";
import {menu} from "@/core/menu/aside";

export default {
    name: "layout",
    computed: {
        ...mapGetters(["layout", "getBreadcrumb"]),
      menu() {
          return menu;
      }
    },
     async afterMounted() {
       console.log(menu);
        if (this.isAuthenticate !== true){
            await this.$router.push({ name: 'dashboard' })
        }
    },
    data() {
        return {
            drawer: false,
            mini: true,
            items: [
                { title: "داشبورد", icon: "mdi-home-city", route: "basePanel" },
                { title: "تراکنش ها", icon: "mdi-cash-sync", route: "transaction" },
                { title: "لیست خریدها ", icon: "mdi-playlist-check", route: null },
                { title: "کارت ها", icon: "mdi-account-credit-card", route: "cards" },
                { title: "پیگیری تراکنش", icon: "mdi-account-credit-card", route: null },
                { title: "تیکت", icon: "mdi-face-agent", route: null },
                { title: "کاربران", icon: "mdi-account", route: 'admin.users' }
            ]
        };
    },
};
</script>

<style scoped>
body {

    background-color: white !important;
}

.v-navigation-drawer__content {
    overflow-y: hidden;
    overflow-x: hidden;
}

.v-sheet {
    height: 100%;
}
</style>
