<template>
  <div>
    <div>
      <v-data-table
        :headers="headers"
        :items="data.data"
        :options.sync="options"
        :loading="loading"
        class="elevation-1"
      ></v-data-table>
    </div>
  </div>
</template>

<script>
export default {
    name: "Transactions",
    mounted() {
        this.$store.dispatch('setBreadcrumb', [
              {
                  title: "تراکنش ها",
                  route: 'transaction',
                  disabled: false,
              }
        ])
    },
    data () {
        return {
            totalDesserts: 0,
            desserts: [],
            data: [],
            loading: true,
            options: {},
            headers: [
                {
                    text: 'شناسه',
                    align: 'center',
                    sortable: false,
                    value: 'id',
                },
                { text: 'کد', value: 'code' , align: "center"},
                { text: 'قیمت', value: 'amount' , align: "center" },
                { text: 'درگاه', value: 'gateway' , align: "center" },
                { text: 'شناسه بانکی', value: 'ref_num' , align: "center" },
                { text: 'توع پراخت', value: 'method' , align: "center" },
                { text: 'وضعیت', value: 'status' , align: "center" },
            ],
        }
    },
    watch: {
        options: {
            handler () {
                this.getDataFromApi()
            },
            deep: true,
        },
    },
    methods: {
        getDataFromApi () {
            this.loading = true
            this.getApi('/transaction').then(({data}) =>{
                this.data = data
                console.log(data);
            }).finally(() => {
                this.loading = false
            })
        },
        /**
         * In a real application this would be a call to fetch() or axios.get()
         */
        fakeApiCall () {
            return new Promise((resolve, reject) => {
                const { sortBy, sortDesc, page, itemsPerPage } = this.options

                let items = this.getDesserts()
                const total = items.length

                if (sortBy.length === 1 && sortDesc.length === 1) {
                    items = items.sort((a, b) => {
                        const sortA = a[sortBy[0]]
                        const sortB = b[sortBy[0]]

                        if (sortDesc[0]) {
                            if (sortA < sortB) return 1
                            if (sortA > sortB) return -1
                            return 0
                        } else {
                            if (sortA < sortB) return -1
                            if (sortA > sortB) return 1
                            return 0
                        }
                    })
                }

                if (itemsPerPage > 0) {
                    items = items.slice((page - 1) * itemsPerPage, page * itemsPerPage)
                }

                setTimeout(() => {
                    resolve({
                        items,
                        total,
                    })
                }, 1000)
            })
        },
    },
};
</script>

<style scoped>

</style>