<template>
<div>
  <v-card class="pa-4 ma-4" >
    <v-data-table
        :headers="headers"
        :items="cards"
        :items-per-page="5"
        class="elevation-1"
    >
      <template v-slot:top>
        <v-toolbar
            flat
        >
          <v-toolbar-title>کارت های شما</v-toolbar-title>
          <v-divider
              class="mx-4"
              inset
              vertical
          ></v-divider>
          <v-spacer></v-spacer>
          <v-dialog
              v-model="dialog"
              max-width="500px"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                  color="primary"
                  dark
                  class="mb-2"
                  v-bind="attrs"
                  v-on="on"
              >
                <v-icon>mdi-plus</v-icon>
                <b>افزودن </b>
              </v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="text-h5"><b>افزودن کارت</b></span>
                <v-spacer/>
                <v-btn icon color="red" @click="closed">
                  <v-icon>mdi-close</v-icon>
                </v-btn>
              </v-card-title>

              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col
                        cols="12"
                        sm="12"
                        md="12"
                    >
                      <v-text-field
                          outlined
                          dense
                          :error-messages="errors.card_number"
                          v-model="card_number"
                          label="شماره کارت"
                      ></v-text-field>

<!--                     <v-otp-input-->
<!--                          length="4"-->
<!--                          dense-->
<!--                          errorCount="4"-->

<!--                          type="number"-->
<!--                      ></v-otp-input>-->
                    </v-col>
                    <v-col
                        cols="12"
                        sm="12"
                        md="12"
                    >
                      <v-text-field
                          outlined
                          v-model="bank_name"
                          :error-messages="errors.bank_name"
                          dense
                          label="نام بانک"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                    color="red darken-1"
                    style="color: white"
                    @click="closed"
                >
                  <v-icon>mdi-close</v-icon>
                  <b>انصراف</b>
                </v-btn>
                <v-btn
                    color="blue darken-1"
                    @click="save"
                    style="color: white"
                >
                  <v-icon>mdi-check-bold</v-icon>
                  <b>ذخیره</b>
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>

        </v-toolbar>
      </template>

    </v-data-table>

  </v-card>
</div>
</template>

<script>
export default {
  name: "AddCard",
  data() {
    return {
      dialog: false,
      bank_name: null,
      card_number: null,
      cards: [],
      errors: [],
      headers: [
        {
          text: '#',
          align: 'center',
          sortable: false,
          value: 'id',
        },
        { text: 'شماره کارت', value: 'card_number', align: 'center' },
        { text: 'نام بانک', value: 'bank_name', align: 'center'  },
        { text: 'تاریح', value: 'created_at', align: 'center'  },
      ]
    }
  },
  mounted() {
    this.getCards()
  },
  methods: {
    getCards() {
      this.getApi('/card').then(({data}) => {
        this.cards = data.data
      }).catch(() => {

      })
    },
    save() {
      this.postApi('/card', {
        card_number: this.card_number,
        bank_name: this.bank_name,
      }).then(({data}) => {
        this.closed()
        this.getCards()
        this.$toast.success('باموفیت اضافه گردید.')
      }).catch(({response}) => {
        this.errors = response.data.errors
      })
    },
    closed() {
      this.dialog= !this.dialog
      this.card_number = null
      this.bank_name  = null
      this.errors = []
    }
  }
}
</script>

<style scoped>

</style>