<template>
<div class="mx-5 my-10">
  <v-stepper v-model="step">
    <v-stepper-header>
      <v-stepper-step
          :complete="step > 1"
          :color="step >1 ? 'success': 'primary'"
          step="1"
      >
        لیست خرید ها
      </v-stepper-step>

      <v-divider></v-divider>

      <v-stepper-step
          :complete="step > 2"
          :color="step >2 ? 'success': 'primary'"
          step="2"
      >
        انتخاب درگاه و کارت
      </v-stepper-step>

      <v-divider></v-divider>

      <v-stepper-step step="3">
        نهایی
      </v-stepper-step>
    </v-stepper-header>

    <v-stepper-items>
      <v-stepper-content step="1">
        <div class="">
            <BasketList></BasketList>

        </div>

      </v-stepper-content>

      <v-stepper-content step="2">
        <v-card
            class="mb-12 pa-4"
            color="grey lighten-4"
            height="200px">
        <cards @changeCard="card_number = $event" @changeGateway="gateway = $event"></cards>
        </v-card>

      </v-stepper-content>

      <v-stepper-content step="3">
        <v-card
            class="mb-12 pa-4"
            color="grey lighten-4"
            height="auto"
        >
          <v-row v-for="item in baskets" :key="item.id">
            <v-flex sm12 xs12 md4 lg4 xl4>
              <v-card-text>
                 نام کالا:
              <v-chip small color="success">
                {{item.title}}
              </v-chip>
              </v-card-text>
              <hr>
            </v-flex>
            <v-flex sm12 xs12 md4 lg4 xl4>
            <v-card-text>
              قیمت کالا:
                <v-chip  color="primary" small >{{item.price  }}
                </v-chip>
               </v-card-text>
              <hr>
            </v-flex>
            <v-flex sm12 xs12 md4 lg4 xl4>
            <v-card-subtitle>
              تعداد:
              <v-chip small >{{item.quantity}}</v-chip>
            </v-card-subtitle>
              <hr>
            </v-flex>
          </v-row>
          <v-row class="pa-3">
            <v-flex sm12 xs12 md4 lg4 xl4 >
               نام درگاه:
              {{gateway === 'paystar'? 'پی استار': ''}}
            </v-flex>
            <v-flex sm12 xs12 md4 lg4 xl4>
              شماره کارت:
              {{card_number}}
            </v-flex>
            <v-flex sm12 xs12 md4 lg4 xl4>
              قیمت کل:
              {{sumPrices}}
            </v-flex>
          </v-row>
          <v-row class="pa-3">
            <v-spacer></v-spacer>
            <v-btn color="success" :loading="loading" outlined @click="checkout" >
              <b>پرداخت</b>
              <v-icon>mdi-cash-clock</v-icon>
            </v-btn>
          </v-row>
        </v-card>

      </v-stepper-content>
   <v-row  class="pa-4 mr-4 mb-2" >
     <v-btn
         :disabled="step === 1"
         @click="prevStep"
         style="color: white"
         color="red"
         class="mt-3 ml-3">
       <v-icon>mdi-arrow-right-thick</v-icon>
       <b>بازگشت</b>
     </v-btn>
     <v-btn
         :disabled="step === 3 || baskets.length === 0"
         class="mt-3 "
         color="primary"
         @click="nextStep"
     >
       <b>ادامه</b>
       <v-icon>mdi-arrow-left-thick</v-icon>
     </v-btn>
     <v-spacer/>
     <v-btn
         :disabled="baskets.length === 0"
         class="ml-3 "
         style="color: white"
         color="red"
         @click="clear"
     >
       <v-icon>mdi-delete-outline</v-icon>
       <b>خالی کردن سبد</b>
     </v-btn>
   </v-row>
    </v-stepper-items>
  </v-stepper>
</div>
</template>

<script>
import BasketList from "@/components/BasketList";
import Cards from "@/components/Cards";


export default {
  name: "Basket",
  components: {Cards, BasketList},

  data() {
    return {
      step:1,
      inset: true,
      sum: 0,
      card_number: null,
      gateway: null,
      loading: false,
    }
  },
  methods: {
    nextStep() {
      if (!this.isAuthenticate)
        return this.$toast.error('ابتدا باید وارد حساب خود شوید.')
      if (this.step === 2 ) {
        if ( this.gateway === null || this.card_number === null)
          return this.$toast.error('شماره کارت و درگاه اجباری می باشند.')
      }
      this.step ++;
    },
    prevStep() {
      if (!this.isAuthenticate)
        return this.$toast.error('ابتدا باید وارد حساب خود شوید.')
      this.step --;
    },
    checkout() {
      this.loading = true;
      this.postApi('/basket/checkout', {
        method: 'online',
        gateway: this.gateway,
        card_number: this.card_number
      }).then(({data}) => {
        this.loading = false;
        window.location.replace(data.data.redirectUrl)

      }).catch(() => {
        this.loading = false;

      })
    },

    clear() {
      this.getApi('/basket/clear')
          .then(({data}) => {
            this.$store.dispatch('getBaskets')
            this.$toast.success('سبد خرید خالی شد!')
      })
    }
  },
  computed: {
    sumPrices() {
       this.baskets.map(item => {
       return  this.sum += item.price
      });
       return this.sum;
    }
  }
}
</script>

<style scoped>

</style>