<template>
 <div>
   <v-data-table
       :headers="headers"
       :items="baskets"
       :items-per-page="5"
       class="elevation-1"
   >
     <template v-slot:item.actions="{ item }">
      <buttons :quantity="item.quantity" @update="update($event,item.id)"></buttons>
     </template>
     <template v-slot:item.image="{ item }">
       <v-img :src="item.image" height="40" width="40"></v-img>
     </template>
   </v-data-table>
 </div>
</template>

<script>
import Buttons from "@/components/Buttons";
export default {
  name: "BasketList",
  components: {Buttons},
  data() {
    return {
      headers: [

        {
          text: '#',
          align: 'start',
          sortable: false,
          value: 'id',
        },
        { text: 'تصویر محصول', value: 'image' },
        { text: 'نام محصول', value: 'title' },
        { text: 'قیمت', value: 'price' },
        { text: 'تعداد', value: 'quantity' },
        { text: 'باقی مانده', value: 'stock' },
        { text: 'عملیات', value: 'actions' },

      ],
    }
  },
  methods: {
    update(value, id) {
      this.postApi(`/basket/update/${id}`, {
        quantity: value
      }).then(({data}) => {
        this.$store.dispatch('getBaskets')
      }).catch(({response})=> {
        this.$toast.error('مشکلی در سرور به وجود امده است.')
      })
    }
  },
  mounted() {
    this.$store.dispatch('getBaskets')
  },
}
</script>

<style scoped>

</style>