<template>
<div>
  <v-row>
    <v-btn icon small color="primary" @click="update('plus')" > <v-icon>mdi-plus-circle</v-icon></v-btn>
    <v-text-field dense class="ebi"
                  style="width: 10px; height: 10px; justify-content: center"
                  :value="countProduct" readonly></v-text-field>
    <v-btn icon small color="red" @click="update('minus')" > <v-icon>mdi-minus-circle</v-icon></v-btn>
  </v-row>
</div>
</template>

<script>
export default {
  name: "Buttons",
  props: ['quantity'],
  data() {
    return {
      countProduct: 0
    }
  },
  created() {
    this.countProduct = this.quantity
  },
  methods: {
    update(type) {
      if (this.countProduct < 1)
        return false;

      if (type === 'minus')
        this.countProduct --;
      else
        this.countProduct++;
      this.$emit('update', this.countProduct)
    }
  },
}
</script>

<style scoped>

</style>