<template>
<div>
  <v-overlay v-if="loading" :value="loading">
    <v-progress-circular
        indeterminate
        size="64"
    ></v-progress-circular>
  </v-overlay>
  <v-card v-else class="container mt-16"  width="700" >
    <v-card-actions class="justify-center">
      <v-icon color="red" v-if="!status" size="250">mdi-close-octagon</v-icon>
      <v-icon color="success" v-else  size="250">mdi-shield-check-outline</v-icon>
    </v-card-actions>
    <v-card-title v-if="!status" class="justify-center">پرداخت ناموفق!</v-card-title>
    <v-card-title v-else class="justify-center">پرداخت موفق!</v-card-title>
    <v-card-text  class="justify-center text-center pa-4">


        <v-row class="mt-3 pa-2">
          <v-flex> درگاه:
            <hr>
          </v-flex>
          <v-flex>{{data.gateway}}
            <hr>
          </v-flex>
        </v-row>
        <v-row>
          <v-flex> کد مصول:
            <hr>
          </v-flex>
          <v-flex>{{data.refNum}}
            <hr>
          </v-flex>
        </v-row>
          <v-row>
          <v-flex> قیمت:
            <hr>
          </v-flex>
          <v-flex>{{data.order.amount}}
            <hr>
          </v-flex>
        </v-row>
      <v-row>
        <v-flex> شماره کارت:
          <hr>
        </v-flex>
        <v-flex>{{data.card_number === null ? 'ندارد':data.card_number }}
          <hr>
        </v-flex>
      </v-row>
        <v-row></v-row>
    </v-card-text>

    <v-btn block color="success" :to="{name: 'dashboard'}">
    <b>بازگشت به سایت</b>
    </v-btn>

  </v-card>
</div>
</template>

<script>
export default {
  name: "Callback",
  data() {
    return {
      status: false,
      data: [],
      loading: false
    }
  },
  mounted() {
    this.verify();
  },
  methods: {
    verify() {

      this.loading = true;
      this.postApi('/basket/verify', {
        ref_num: this.$route.query.ref_num,
        status: this.$route.query.status,
        transaction_id: this.$route.query.transaction_id,
        order_id: this.$route.query.order_id,
        tracking_code: this.$route.query.tracking_code,
        card_number: this.$route.query.card_number,
        gateway: 'paystar'
      }).then(({data}) => {
        this.loading = false;
        this.status = true;
        this.$router.replace({'query': null});
      }).catch(({response}) => {
        this.data = response.data.data
        this.$router.replace({'query': null});
        this.loading = false;

      })
    }
  }
}
</script>

<style scoped>

</style>