<template>
  <v-row>
    <v-flex sm12 xs12 md6 lg6 xl6 class="pa-2">
      <v-select v-model="gateway" @change="changeGateway" :items="gateways" item-text="name" item-value="key" outlined dense label="درگاه پرداخت"></v-select>
    </v-flex>
    <v-flex sm12 xs12 md6 lg6 xl6 class="pa-2">
      <v-autocomplete v-model="card_number" @change="changeCard" :items="cards" item-text="card_number" item-value="card_number" outlined dense label="کارت ها">
        <template v-slot:item="data" >
          {{showCard(data.item.card_number)}} ({{data.item.bank_name}})
        </template>
        <template v-slot:selection="{item}" >
          {{showCard(item.card_number)}} ({{item.bank_name}})
        </template>
      </v-autocomplete>
    </v-flex>
  </v-row>
</template>

<script>
export default {
  name: "Cards",
  data() {
    return {
      cards: [],
      gateways: [
        {
          name: 'پی استار',
          key: 'paystar'
        },
        {
          name: 'زیبال',
          key: 'zibal'
        }
      ],
      gateway: null,
      card_number: null,
    }
  },
  methods: {
    getCards() {
      this.getApi('/card').then(({data}) => {
        this.cards = data.data
      }).catch(() => {

      })
    },
    showCard(val) {
      return  val.replace(/\W/gi, '').replace(/(.{4})/g, '$1-')
    },

    changeGateway(val) {
      this.$emit('changeGateway', val)
    },
    changeCard(val) {
      this.$emit('changeCard', val)
    }
  },
  mounted() {
    this.getCards();
  },
}
</script>

<style scoped>

</style>