<template>
  <v-app>
    <v-card flat style="background-color: #e7e1cd !important;">
      <v-toolbar
        dark
        color="#044B7F"
        style="min-height: 400px;"
        extended
        flat
      >
        <div class="row d-flex d-inline" style="margin-top: -11px">


          <v-app-bar-nav-icon></v-app-bar-nav-icon>

          <div  class="border border-light border-bottom rounded-lg mt-2 mr-1">
            <div v-if="!isAuthenticate" class="d-flex d-inline mt-1">
              <div class="mx-2" @click="$router.push({name: 'register'})" style="cursor: pointer">
                ثبت نام
              </div>
              <div class="text-dark">|</div>
              <div class="mx-2" @click="$router.push({name: 'login'})" style="cursor: pointer;">
                ورود
              </div>
            </div>
            <div v-else class="d-flex d-inline mt-1">
              <div class="mx-2" @click="logout"  style="cursor: pointer">
                خروج
              </div>
              <div class="text-dark">|</div>
              <div class="mx-2" @click="$router.push({name: 'basePanel'})"  style="cursor: pointer">
                پنل کاربری
              </div>
            </div>
          </div>
          <v-spacer></v-spacer>
          <v-btn
            to="basket"
            text
          >
            <v-icon>mdi-shopping</v-icon>
            <b>
              {{ count === 0 ? "" : count }}
            </b>
          </v-btn>

        </div>

      </v-toolbar>



      <v-container fluid max-width="700"
                   style="margin-top: -300px;">
        <v-row dense>
          <v-col
            :cols="6"
          >
            <v-card v-for="card in cards"
                    :key="card.title" rounded class="rounded-xl m-2">
              <v-img
                :src="card.src"
              >
              </v-img>

            </v-card>
          </v-col>

          <v-col
            cols="6"
          >
            <v-card rounded class="rounded-xl m-1">
              <v-img
                src="/assets/wallpapers/freefire-2.jpeg"
              >
              </v-img>

            </v-card>
          </v-col>
        </v-row>
      </v-container>
      <div class="p-1">

        <products></products>

        
      </div>

    </v-card>
    <v-footer
      dark
      height="auto"
    >
      <v-card style="width: 100%; background: none"
              flat
              tile
              class="text-xs-center"
      >
        <v-card-text>
          <v-row class="justify-center">
            <v-btn
              v-for="icon in icons"
              :key="icon"
              class="mx-3 white--text"
              icon
            >

              <v-icon size="24px">{{ icon }}</v-icon>
            </v-btn>
          </v-row>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-text class="white--text pt-2">
          <v-row>
            <v-flex xs="12" sm="12" md="4" lg="4" xl="4">
              <v-card-title>
                درباره من
              </v-card-title>
              <v-card-text class="text-right">
                ما یک سایت فروش جم های بازی های انلاین هستیم وقراره با حمایت شما ادامه بدیم!
              </v-card-text>

            </v-flex>
            <v-flex xs="12" sm="12" md="4" lg="4" xl="4">
              <v-card-title>
                تماس با من
              </v-card-title>
              <v-card-text class="text-right">
                ایمیل: info@mobilelazem.ir
                <br>
                تماس: ۰۹۹۰۰۷۲۳۱۹۵
                <br>
                تلفن: ۰۳۱۳۵۵۷۲۳۶۹
              </v-card-text>
            </v-flex>
            <v-flex xs="12" sm="12" md="4" lg="4" xl="4">
              <v-card-title>
                آدرس
              </v-card-title>
              <v-card-text class="text-right">
                اصفهان -اصفهان -هفتن -میدان معراج -خیابان شهید مدنی
                <br>
                <a referrerpolicy="origin" target="_blank"
                   href="https://trustseal.enamad.ir/?id=354672&amp;Code=QRRjQBqMX2kOU2ykvINf"><img
                  referrerpolicy="origin" width="100" height="100"
                  src="https://Trustseal.eNamad.ir/logo.aspx?id=354672&amp;Code=QRRjQBqMX2kOU2ykvINf" alt=""
                  style="cursor:pointer" id="QRRjQBqMX2kOU2ykvINf"></a>


              </v-card-text>
            </v-flex>
          </v-row>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-text class="white--text text-center">
          &copy;2023 — <strong>موبایل لازم</strong>
        </v-card-text>
      </v-card>
    </v-footer>

  </v-app>
</template>
<script>
import Products from "@/components/Products";

export default {
    name: "Dashboard",
    components: { Products },
    data() {
        return {
            move: [],
            drag: false,
            touch: false,
            cards: [
                { title: "Pre-fab homes", src: "/assets/wallpapers/call-of-duty-mobile.jpeg", flex: 6 },
                { title: "free-fire", src: "/assets/wallpapers/pubg-mobile.jpeg", flex: 6 },
                { title: "Favorite road trips", src: "/assets/wallpapers/fifa-mobile.jpeg", flex: 6 }
            ],
            sliders: [
                {
                    src: "/assets/wallpapers/call-of-duty-mobile.jpeg"
                },
                {
                    src: "/assets/wallpapers/fifa-mobile.jpeg"
                },
                {
                    src: "/assets/wallpapers/mobile-legends.jpeg"
                },
                {
                    src: "/assets/wallpapers/freefire-mobile.jpeg"
                },
                {
                    src: "/assets/wallpapers/pubg-mobile.jpeg"
                }
            ],
            initiallyOpen: ["public"],
            files: {
                html: "mdi-language-html5",
                js: "mdi-nodejs",
                json: "mdi-code-json",
                md: "mdi-language-markdown",
                pdf: "mdi-file-pdf",
                png: "mdi-file-image",
                txt: "mdi-file-document-outline",
                xls: "mdi-file-excel"
            },
            tree: [],
            items: [
                {
                    name: ".git"
                },
                {
                    name: "node_modules"
                },
                {
                    name: "public",
                    children: [
                        {
                            name: "static",
                            children: [{
                                name: "logo.png",
                                file: "png"
                            }]
                        },
                        {
                            name: "favicon.ico",
                            file: "png"
                        },
                        {
                            name: "index.html",
                            file: "html"
                        }
                    ]
                },
                {
                    name: ".gitignore",
                    file: "txt"
                },
                {
                    name: "babel.config.js",
                    file: "js"
                },
                {
                    name: "package.json",
                    file: "json"
                },
                {
                    name: "README.md",
                    file: "md"
                },
                {
                    name: "vue.config.js",
                    file: "js"
                },
                {
                    name: "yarn.lock",
                    file: "txt"
                }
            ],
            icons: [
                "mdi-instagram",
                "mdi-linkedin",
                "mdi-facebook",
                "mdi-twitter",
                "mdi-google-plus"
            ],
            dialog: false,
            nav: [

                {
                    id: 1,
                    icon: "account-plus",
                    text: "ثبت نام",
                    title: "Back to Home page",
                    active: false,
                    path: "register"
                },
                {
                    id: 2,
                    icon: "login",
                    text: "ورود",
                    title: "Back to Home page",
                    active: false,
                    path: "login"
                }
            ]
        };
    },
    computed: {
        navs() {
            return this.nav.map(item => {
                if (item.id === 1 || item.id === 2)
                    item.active = this.isAuthenticate;
            });
        }
    },
    methods: {
        logic(e) {
            let currentMove = this.touch ? e.touches[0].clientX : e.clientX;
            if (this.move.length == 0) {
                this.move.push(currentMove);
            }
            if (this.move[this.move.length - 1] - currentMove < -100) {
                this.$refs.myCarousel.$el
                      .querySelector(".v-window__prev")
                      .querySelector(".v-btn")
                      .click();
                this.drag = false;
                this.touch = false;
            }
            if (this.move[this.move.length - 1] - currentMove > 100) {
                this.$refs.myCarousel.$el
                      .querySelector(".v-window__next")
                      .querySelector(".v-btn")
                      .click();
                this.drag = false;
                this.touch = false;
            }
        }
    },
    mounted() {

    }

};
</script>

<style scoped>

</style>
