<template>
  <div style="background-color: #e7e1cd !important;">
    <v-row class="p-1">
      <v-flex v-if="products.length === 0" xs12 sm12 md6 xl3 lg3 class="p-4" v-for="(i, index) in 7" :key="index">
        <v-sheet
          :color="`grey ${theme.isDark ? 'darken-2' : 'lighten-4'}`"
          class="pa-3"
        >
          <v-skeleton-loader
            v-bind="attrs"
            type="card-avatar, article, actions"
          ></v-skeleton-loader>

        </v-sheet>
      </v-flex>
      <v-flex xs12 sm12 md6 xl3 lg3 class="p-3" v-for="product of products"
              :key="product.id">
        <v-card

          :loading="loading"
          class="mx-auto my-12 rounded-xl"
          max-width="374"
        >
          <template slot="progress">
            <v-progress-linear
              color="deep-purple"
              height="10"
              indeterminate
            ></v-progress-linear>
          </template>

          <v-img
            height="250"
            :src="getFilePath(product.image)"
          ></v-img>

          <v-card-title class="text-right">{{ product.title }}</v-card-title>

          <v-card-text>
            <v-row
              align="center"
              class="mx-0"
            >
              <v-rating
                :value="3.5"
                color="amber"
                dense
                half-increments
                readonly
                size="14"
              ></v-rating>

              <div class="grey--text ms-4">
                4.5 (413)
              </div>
            </v-row>

            <div class="my-4 text-subtitle-1 text-right">
              {{ separate(product.price) }} . تومان
            </div>

            <div class="text-right">{{ product.description }}</div>
          </v-card-text>

          <v-divider class="mx-4"></v-divider>

          <v-card-actions>
<!--            <v-card-text class="text-right text-info">-->
<!--              درحال توسعه و به زودی فعال می گردد...-->
<!--            </v-card-text>-->
            <v-spacer></v-spacer>

            <v-btn
              color="deep-purple lighten-2"
              text
              @click="addBaskets(product)"
              class="float-md-left"
            >
              <v-icon>mdi-cart-plus</v-icon>

            </v-btn>
          </v-card-actions>
        </v-card>

      </v-flex>
    </v-row>

  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
    name: "Products",
    data() {
        return {
            loading: false,
            selection: 1,
            products: [],
            attrs: {
                class: "mb-6",
                boilerplate: true,
                elevation: 2
            }
        };
    },

    methods: {
        ...mapActions(["addBaskets", "getBaskets"]),
        getProducts() {
            this.getApi("/products").then(({ data }) => {
                this.products = data.data;
            });
        },
        separate(Number) {
            Number += "";
            Number = Number.replace(",", "");
            let x = Number.split(".");
            let y = x[0];
            let z = x.length > 1 ? "." + x[1] : "";
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(y))
                y = y.replace(rgx, "$1" + "," + "$2");
            return y + z;
        }
    },
    inject: {
        theme: {
            default: { isDark: false }
        }
    },
    mounted() {
        this.getProducts();
    }
};
</script>

<style scoped>
.v-card {
    margin-top: -0px !important;
    
    //padding: 77px 0 0!important;
}

</style>
