<template>
  <div>
<!--    <v-app>-->
<!--      <v-main class="main-vue">-->
        <router-view></router-view>
<!--      </v-main>-->
<!--    </v-app>-->
  </div>
</template>

<script>
import "vue-toast-notification/dist/theme-sugar.css";

export default {
  name: "App",
  mounted() {
    this.checkToken();
  },
  data() {
    return {
    };
  }
};
</script>
<style>
@font-face {
    font-family: Vazir;
    src: url('../public/fonts/Vazir/Vazir.ttf');
}
*, html, body {
    font-family: Vazir;
}
</style>

<style lang="less">
</style>
