<template>
    <v-app>
        <v-row align="center" justify="center">
            <v-flex  sx12 xs12 md5 lg3 xl3 class="pa-5 radios-left" justify="center" >
                <router-view></router-view>
            </v-flex>
            <v-flex sx12 xs12 md7 lg9 xl9 class="h-100 radios-right" >
                <v-carousel
                    :show-arrows="false"
                    cycle
                    height="100%"
                    hide-delimiter-background
                    hide-delimiters
                
                
                >
                    <v-carousel-item
                        v-for="(slide, i) in slides"
                        :key="i"
                    >
                        <v-img
                            :src="slide"
                            height="100%"
                            width="100%"
                            ></v-img>
                    </v-carousel-item>
                </v-carousel>
            </v-flex>
        </v-row>
    </v-app>
</template>
<script>
export default {
    data () {
        return {
            colors: [
                '/assets/auth/fc.jpeg',
                '/assets/auth/call_of_duty.jpeg',
                '/assets/auth/pubg.jpeg',
                '/assets/auth/mobile_legend.jpeg',
            ],
            slides: [
                '/assets/auth/fc.jpeg',
                '/assets/auth/fc_2.jpeg',
                '/assets/auth/call_of_duty.jpeg',
                '/assets/auth/pubg.jpeg',
                '/assets/auth/mobile_legend.jpeg',
            ],
        }
    },
}
</script>
<style scoped >
div { overflow: hidden !important; }
.radios-right {
    border-top-right-radius: 50px !important;
    
}


</style>
