<template>
    <v-layout wrap v-if="isAuth">
        <v-container>
            <v-slide-y-transition mode="out-in">
                <v-layout column>
                    <v-layout column align-center>
                        <v-img src="assets/logo.png"
                               class="" style="min-height: 15px"
                        ></v-img>
                    </v-layout>
                    <div v-if="is_verified">
                        <v-text-field
                            dense
                            v-model="phone"
                            outlined
                            prepend-inner-icon="mdi-cellphone"
                            :error-messages="errors.phone"
                            label="موبایل"></v-text-field>
                        <v-text-field
                            type="password"
                            v-model="password"
                            prepend-inner-icon="mdi-lock"
                            :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                            :type="show ? 'text' : 'password'"
                            @click:append="show = !show"
                            dense outlined
                            :error-messages="errors.password"
                            label="رمز عبور"
                        ></v-text-field>
                        <v-btn
                            block
                            :loading="loading"
                            color="primary"
                            @click="login"
                        ><b>ورود</b></v-btn>
                    </div>
                    <div v-else>
                        <otp :phone="phone" />
                    </div>
                    <hr class="mx-2 mt-4">
                    <v-row class="mt-2 mx-6">
                        <router-link class="" to="register">ثبت نام</router-link>
                        <v-spacer></v-spacer>
                        <router-link class="mx-6" to="">فراموشی رمز عبور</router-link>
                    </v-row>
                    <!--      </v-card>-->
                </v-layout>
            </v-slide-y-transition>
        </v-container>
    </v-layout>
</template>

<script>
import Layout from "@/views/layout.vue";
import Otp from "@/components/auth/Otp.vue";

export default {
    name: "Login",
    components: { Otp, Layout },
    data() {
        return {
            show: false,
            phone: null,
            is_verified: true,
            password: null,
            errors: [],
            loading: false
        };
    },
    
    methods: {
        login() {
            this.loading = true;
            this.postApi("/login", {
                phone: this.phone,
                password: this.password
            }).then(({ data }) => {
                if (!data.data.verify) {
                    this.is_verified = false;
                    this.phone = data.data.phone;
                    return;
                }
                this.$toast.success("با موفقیت وارد شدید.");
                this.$store.dispatch("setUser", data.data);
                this.$store.dispatch("setToken", data.data.token);
                this.$store.dispatch("setIsAuthenticate", true);
                this.$forceUpdate();
                this.$router.push({ name: "dashboard" });
                this.getAbility();
            }).catch(({ response }) => {
                this.errors = response.data.errors;
            }).finally(() => {
                this.loading = false;
            });
        }
    },
    computed: {
        isAuth() {
            if (this.isAuthenticate === true)
                return this.$router.push({ name: "dashboard" });
            return true;
        }
    }
};
</script>

<style scoped>

</style>
