<template>
    <div class="pa-4">
        <v-text-field
            dense
            :value="phone"
            outlined
            
            readonly
            prepend-inner-icon="mdi-cellphone"
            :error-messages="errors.phone"
            label="موبایل"></v-text-field>
        <v-otp-input
            length="5"
            dense
            v-model="code"
            outlined
            :error-messages="errors.code"
            :autofocus="true"
            label="label"
            style="direction: ltr!important;"
        ></v-otp-input>
        <br>
        <v-btn
            block
            :loading="loading"
            type="number"
            color="primary"
            @click="verify"
        ><b>ثبت</b></v-btn>
    
    </div>
</template>

<script>
export default {
    name: "otp",
    props: ["phone"],
    data() {
        return {
            errors: [],
            loading: false,
            code: ""
        };
    },
    
    methods: {
        verify() {
            let data = {
                phone: this.phone,
                code: this.code
            };
            this.loading = true;
            this.postApi('/verify', data)
                .then(({data}) => {
                    this.$store.dispatch("setUser", data.data);
                    this.$store.dispatch("setToken", data.data.token);
                    this.$store.dispatch("setIsAuthenticate", true);
                    this.$forceUpdate();
                    this.$router.push({ name: "dashboard" });
                    
                })
                .catch(({response})=> {
                    if (response.status === 422) {
                        this.errors = response.data.errors;
                    }
                    this.$toast.error(response.data.message)
                }).finally(() => {
                this.loading = false;
            });
        }
    }
    
    
};
</script>
<style scoped>

</style>
