<template>
    <div>
        <v-layout wrap v-if="isAuth">
            <v-container fluid>
                <v-slide-y-transition mode="out-in">
                    <v-layout column>
                        <v-layout column align-center class="">
                            
                            <v-img src="assets/logo.png"
                                   class=""
                                   style="min-height: 15px"
                            ></v-img>
                        </v-layout>
                        <div v-if="is_authenticated">
                            
                            <v-text-field
                                dense
                                v-model="first_name"
                                outlined
                                prepend-inner-icon="mdi-account-box"
                                :error-messages="errors.first_name"
                                label="نام"></v-text-field>
                            <v-text-field
                                dense
                                v-model="last_name"
                                outlined
                                prepend-inner-icon="mdi-account-box"
                                :error-messages="errors.last_name"
                                label="نام خانوادگی">
                            
                            </v-text-field>
                            <v-text-field
                                dense
                                v-model="email"
                                outlined
                                prepend-inner-icon="mdi-gmail"
                                :error-messages="errors.email"
                                label="ایمیل"></v-text-field>
                            <v-text-field
                                dense
                                v-model="phone"
                                outlined
                                prepend-inner-icon="mdi-cellphone"
                                :error-messages="errors.phone"
                                label="موبایل"></v-text-field>
                            <v-text-field
                                type="password"
                                v-model="password"
                                prepend-inner-icon="mdi-lock"
                                :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                                :type="show ? 'text' : 'password'"
                                @click:append="show = !show"
                                dense outlined
                                :error-messages="errors.password"
                                label="رمز عبور"
                            ></v-text-field>
                            <v-text-field
                                type="password"
                                v-model="confirmed_password"
                                prepend-inner-icon="mdi-lock"
                                :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                                :type="show1 ? 'text' : 'password'"
                                @click:append="show1 = !show1"
                                dense outlined
                                :rules="[rules.equal]"
                                :error-messages="errors.confirmed_password"
                                label="تکرار رمز عبور"
                            ></v-text-field>
                            <v-btn
                                block
                                color="primary"
                                @click="register"
                            ><b>ثبت نام</b></v-btn>
                            <hr class="mx-2 mt-4">
                            <v-row class="mt-2 mx-6">
                                <router-link class="" to="login"> ورود</router-link>
                                <v-spacer></v-spacer>
                            </v-row>
                        </div>
                        <div v-else>
                            <otp :phone="phone"/>
                        </div>
                    </v-layout>
                </v-slide-y-transition>
            </v-container>
        </v-layout>
    
    </div>
</template>

<script>
import Otp from "@/components/auth/Otp.vue";

export default {
    name: "Register",
    components: { Otp },
    data() {
        return {
            show: false,
            show1: false,
            email: null,
            first_name: null,
            last_name: null,
            phone: null,
            password: null,
            is_authenticated: true,
            confirmed_password: null,
            errors: [],
            rules: {
                equal: (v) => this.password === this.confirmed_password || "فیلد رمز عبور با فیلد تکرار رمزعبور یکسان نیست"
            }
        };
    },
    
    methods: {
        register() {
            this.postApi("/register", {
                email: this.email,
                password: this.password,
                confirmed_password: this.confirmed_password,
                first_name: this.first_name,
                last_name: this.last_name,
                phone: this.phone,
                name: this.name
            }).then(({ data }) => {
                this.$toast.success("حساب کاربری شما با موفقیت ایجاد شد");
                this.is_authenticated = data.data.verify;
                this.is_authenticated = true;
                this.$forceUpdate();
            }).catch(({ response }) => {
                this.errors = response.data.errors;
            });
        }
    },
    computed: {
        isAuth() {
            if (this.isAuthenticate === true)
                return this.$router.push({ name: "dashboard" });
            return true;
        }
    }
};
</script>

<style>

</style>
