<template>
  <div v-if="$can('user_list')">
    <div>
      <v-data-table
          :headers="headers"
          :items="data"
          :footer-props="footerProps"
          :options.sync="options"
          :header-props="headerProps"
          :rows-per-page-items="[10, 20, 30, 40]"
          :server-items-length="totalDesserts"
          :loading="loading"
          :expanded.sync="expanded"
          show-expand
        class="elevation-1"
      >
        <template v-slot:item.status="{ item }">
          <v-chip small v-if="item.status === userStatus.REJECT" class="text-white" color="red">
            {{ status_name(item.status) }}
          </v-chip>

          <v-chip small v-if="item.status === userStatus.ACTIVE" class="text-white" color="green">
            {{ status_name(item.status) }}
          </v-chip>

          <v-chip small v-if="item.status === userStatus.PENDING" color="yellow">
            {{ status_name(item.status) }}
          </v-chip>

          <v-chip small v-if="item.status === userStatus.CREATED" color="gray">
            {{ status_name(item.status) }}
          </v-chip>

          <v-chip small v-if="item.status === userStatus.BLOCK" class="text-white" color="black">
            {{ status_name(item.status) }}
          </v-chip>

          <v-chip small v-if="item.status === userStatus.RESEND" color="blue">
            {{ status_name(item.status) }}
          </v-chip>
        </template>
        <template v-slot:item.is_online="{ item }">
          <v-icon v-if="item.is_online" color="green">mdi-circle</v-icon>
          <v-icon v-else color="red">mdi-circle</v-icon>
        </template>
        <template v-slot:top>
          <v-expansion-panels class="pb-4">
            <v-expansion-panel class="p-2">
              <v-expansion-panel-header>جستو جو</v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-row class="p-2">
                  <v-col sm="12" xs="12" md="6" xl="6" lg="6" class="p-2">
                    <v-text-field
                      v-model="tableProps.phone"
                      label="شماره"
                      class="pa-2"
                      clearable
                      dense
                      outlined
                    ></v-text-field>
                  </v-col>

                  <v-col sm="12" xs="12" md="6" xl="6" lg="6" class="p-2">
                    <v-text-field
                      v-model="tableProps.username"
                      label="نام کاربری"
                      class="pa-2"
                      clearable
                      dense
                      outlined
                    ></v-text-field>
                  </v-col>

                  <v-col sm="12" xs="12" md="6" xl="6" lg="6" class="p-2">
                    <v-text-field
                      v-model="tableProps.name"
                      label="نام"
                      class="pa-2"
                      dense
                      clearable
                      outlined
                    ></v-text-field>
                  </v-col>

                  <v-col sm="12" xs="12" md="6" xl="6" lg="6" class="p-2">
                    <v-text-field
                      v-model="tableProps.email"
                      label="ایمیل"
                      clearable
                      class="pa-2"
                      dense
                      outlined
                    ></v-text-field>
                  </v-col>
                </v-row>

                <v-btn color="info" :loading="loading"  @click="sendRequest(tableProps)"><b> جستو جو</b></v-btn>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </template>
        <template v-slot:item.actions="{ item }">
          <v-icon
            small
            class="mr-2"
            color="#145ff11"
            v-click-outside
          >
            mdi-eye
          </v-icon>
        </template>
      </v-data-table>
    </div>
  </div>
</template>

<script>
import { status_name, userStatus } from "@/Enums/UserStatus";
import tab from "bootstrap/js/src/tab";

export default {
    name: "GetAllUsers",
    computed: {
      tab() {
        return tab
      },
        userStatus() {
            return userStatus;
        }
    },
    mounted() {
        this.$store.dispatch("setBreadcrumb", [
            {
                title: "کاربران",
                route: "admin.users",
                disabled: false
            }
        ]);
        this.sendRequest()
    },
    data() {
        return {
            totalDesserts: 0,
          headerProps: {
            sortByText: 'نمایش بر ساس'
          },
          dialog: false,
          description: null,
          isFilter: false,
          footerProps: {
            itemsPerPageText: 'تعداد ردیف: ',
            itemsPerPageAllText: 'همه',
            itemsPerPageOptions: [10, 25, 50, 100, 200, 400],
            pageText: 'از',
            showCurrentPage:true,
            showFirstLastPage: true,
          },
          tableProps: {
            search: '',
            length: 10,
            column: 'id',
            dir: 'desc',
          },
          expanded: [],
          lenght: null,
          singleExpand: false,
            desserts: [],
            data: [],
            loading: true,
            options: {},
            headers: [
                {
                    text: "شناسه",
                    align: "center",
                    sortable: false,
                    value: "id"
                },
                { text: "نام", value: "name", align: "center" },
                { text: "نام کاربری", value: "username", align: "center" },
                { text: "تلفن", value: "phone", align: "center" },
                { text: "وضعیت", value: "status", align: "center" },
                { text: "آنلاین", value: "is_online", align: "center" },
                { text: "آخرین بازدید", value: "last_online", align: "center" },
                { text: "تاریخ ثبت نام", value: "created_at", align: "center", dir: "ltr" },
                { text: "عملیات", value: "actions", align: "center" }
            ]
        };
    },
    watch: {
        options(val){
          if (this.isFilter) {
            this.tableProps.page = val.page;
            this.tableProps.length = val.itemsPerPage;
            this.tableProps.column = (val.sortBy[0] ?? 'id');
            if (!val.sortDesc[0])
              this.tableProps.dir = 'asc';
            else
              this.tableProps.dir = 'desc';
            this.sendRequest(this.tableProps)
          }
        }
    },
    methods: {
        status_name,
        sendRequest(filter = this.tableProps) {
          console.log( typeof filter);
            this.loading = true;
            this.getApi(`/admin/users/get`, filter).then(({ data }) => {
                this.data = data.data;
              this.isFilter = true;
              this.totalDesserts = data.total
            }).finally(() => {
                this.loading = false;
            });
        }
    }
};
</script>

<style scoped>

</style>
